@import 'nib'

html
  height 100%

.u-bg
  background-color crimson
  background-image url('../img/godofredoninja.png')

body
  background-image radial-gradient(#d60f2b, #42030F)
  font-family 'Roboto', sans-serif
  height 100%
  overflow hidden
  position relative

a
  color #fff
  font-size 30px
  position absolute
  text-decoration none
  z-index 999
  &:hover
    color rgba(255,255,255,0.3)

.Github
  top 20px
  right 50px
.Facebook
  bottom 50px
  left 50px
.Twitter
  bottom 50px
  left 100px
.By
  top 20px
  left 50px
  font-size 20px

.Scene
  bottom 0
  height 100%
  left 0
  perspective 1000px
  position relative
  right 0
  top 0px
  user-select none
  width 100%

.base
  background-image radial-gradient(rgba(0,0,0,0.25) 5%, transparent 65%)
  height 320px
  left 50%
  margin-left -160px
  margin-top -160px
  position absolute
  top 80%
  transform rotateX(90deg)
  transform-style preserve-3d
  width 320px


.Godo
  height 320px
  left 0
  position absolute
  top 0
  transform scale(1) rotate3d(0, 1, 0, 45deg)
  transform-style preserve-3d
  width 320px

  div
    position absolute

  &-wrap
    cursor move
    height 320px
    left 50%
    margin-left -160px
    margin-top -160px
    position absolute
    top 50%
    transform-origin 50% 50%
    transform-style preserve-3d
    width 320px

  &-header
    height 80px
    left 120px
    top 0
    transform-origin bottom center
    transform-style preserve-3d
    width 80px

// Head
.Head
  animation HeadAnimation 1s infinite
  height 80px
  left 0px
  top 0
  transform-style preserve-3d
  width 80px

  div
    width 80px
    height 80px
  &-top
    background-position -80px 0px
    transform rotateX(90deg) translateZ(40px)
  &-front
    background-position -80px -80px
    transform rotateY(0deg) translateZ(40px)
  &-left
    background-position 0px -80px
    transform rotateY(-90deg) translateZ(40px)
  &-right
    background-position -160px -80px
    transform rotateY(90deg) translateZ(40px)
  &-back
    background-position -240px -80px
    transform rotateX(180deg) translateZ(40px) scaleY(-1)
  &-bottom
    background-position -160px -0px
    transform rotateX(-90deg) translateZ(40px)

// Torso
.Torso
  height 120px
  left 120px
  top 80px
  transform-style preserve-3d
  width 80px

  div
    width 80px
    height 120px
  &-top
    background-position -200px -160px
    height 40px !important
    transform rotateX(90deg) translateZ(20px)
  &-front
    background-position -200px -200px
    transform rotateY(0deg) translateZ(20px)
  &-left
    background-position: -160px -200px;
    width 40px !important
    transform rotateY(-90deg) translateZ(20px)
  &-right
    background-position -280px -200px
    width 40px !important
    transform rotateY(90deg) translateZ(60px)
  &-back
    background-position -320px -200px
    transform rotateY(0deg) translateZ(-20px)
  &-bottom
    background-position -280px -160px
    height 40px !important
    transform rotateX(-90deg) translateZ(100px)


.RightLeg
.LeftLeg
.LeftArm
.RightArm
  height 120px
  top 80px
  transform-origin top center
  transform-style preserve-3d
  width 40px

  div
    width 40px
    height 120px

// Left ARM
.LeftArm
  left 80px
  animation Legs 1s infinite

  &-top
    background-position -440px -160px
    height 40px !important
    transform rotateX(90deg) translateZ(20px)
  &-bottom
    background-position -480px -160px
    height 40px !important
    transform rotateX(-90deg) translateZ(100px) scaleX(-1);
  &-right
    background-position -480px -200px
    transform rotateY(90deg) translateZ(20px)
  &-back
    background-position -520px -200px
    transform rotateY(0deg) translateZ(-20px) scaleX(-1);
  &-left
    background-position -400px -200px
    transform rotateY(-90deg) translateZ(20px)
  &-front
    background-position -440px -200px
    transform rotateY(0deg) translateZ(20px);

// right ARM
.RightArm
  left 200px
  animation LegsAlt 1s infinite

  &-top
    background-position -440px -160px
    height 40px !important
    transform rotateX(90deg) translateZ(20px) scaleX(-1)
  &-bottom
    background-position -480px -160px
    height 40px !important
    transform rotateX(-90deg) translateZ(100px)
  &-back
    background-position -520px -200px
    transform rotateY(0deg) translateZ(-20px)
  &-right
    background-position -400px -200px
    transform rotateY(90deg) translateZ(20px) scaleX(-1)
  &-left
    background-position -480px -200px
    transform rotateY(-90deg) translateZ(20px) scaleX(-1)
  &-front
    background-position -440px -200px
    transform rotateY(0deg) translateZ(20px) scaleX(-1)

// Leng
.Legs
  width 80px
  height 120px
  top 200px
  left 120px
  transform-style preserve-3d
  transform-origin top center

// Leg Left
.LeftLeg
  animation LegsAlt 1s infinite
  left 0
  top 0

  &-bottom
    background-position -80px -160px
    height 40px !important
    transform rotateX(-90deg) translateZ(100px)
  &-top
    background-position -40px -160px
    height 40px !important
    transform rotateX(90deg) translateZ(20px)
  &-back
    background-position -120px -200px
    transform rotateY(0deg) translateZ(-20px) scaleX(-1)
  &-right
    background-position -80px -200px
    transform rotateY(90deg) translateZ(20px)
  &-left
    background-position 0px -200px
    transform rotateY(-90deg) translateZ(20px)
  &-front
    background-position -40px -200px
    transform rotateY(0deg) translateZ(20px)

// Len Right
.RightLeg
  animation Legs 1s infinite
  left 40px
  top 0

  &-bottom
    background-position -80px -160px
    height 40px !important
    transform rotateX(-90deg) translateZ(100px)
  &-top
    background-position -40px -160px
    height 40px !important
    transform rotateX(90deg) translateZ(20px)
  &-back
    background-position -120px -200px
    transform rotateY(0deg) translateZ(-20px)
  &-right
    background-position 0px -200px
    transform rotateY(90deg) translateZ(20px) scaleX(-1)
  &-left
    background-position -80px -200px
    transform rotateY(-90deg) translateZ(20px) scaleX(-1)
  &-front
    background-position -40px -200px
    transform rotateY(0deg) translateZ(20px)

// animation Head
@keyframes HeadAnimation
  0%
    transform rotateY(2deg)
  50%
    transform rotateY(-2deg)
  100%
    transform rotateY(2deg)

// animation Arm-Left & Leg-right
@keyframes Legs
  0%
    transform rotateX(-30deg)
  50%
    transform rotateX(30deg)
  100%
    transform rotateX(-30deg)

// animation Arm-right & Leg-left
@keyframes LegsAlt
  0%
    transform rotateX(30deg)
  50%
    transform rotateX(-30deg)
  100%
    transform rotateX(30deg)
